@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-image: url(../images/diablobg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}



header {
  color: #fff;
  
}




main {
  flex: 1;
  
}



main > article {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  
  
} 



main > article > h2 {
  text-align: center;
  color: white;
  margin-bottom: 25px;
  font-size: 38px;
}


.btn {
  -moz-user-select: text;
 
}




.btn-light:disabled {
  background-color: #999;
  color: #fff;
  border-color: #666;
}

.btn-light:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}

.btn-light:disabled:after,
.btn-light:hover:after {
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    black,
    black 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    black,
    black 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #000;
}



#startGameBtn {
  margin: 4px 4px;
  cursor: pointer;
  max-width: 84px;
  min-width: 84px;
  color: gold;
}

#gameBoard {
  padding: 10px 0;
  
}

#letterButtons {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
}

#letterButtons button:not(last-child) {
  margin: 4px 4px;
  cursor: pointer;
  max-width: 84px;
  min-width: 84px;
}

#letterBoxes li {
  display: inline-flex;
}

#letterBoxes input {
  border: 1px solid #666;
  color: black;
  font-size: 24px;
  font-weight: bold;
  line-height: 10px;
  margin-top: 5px;
  padding: 20px 5px;
  text-align: center;
  width: 40px;
  height: 50px;
}

#message {
  font-size: 16px;
  right: 100px;
}

#hangman {
  margin: 0 auto;
  line-height: 30px;

}





h1 {
  font-size: 28px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


h4 {
  font-size: 16px;
  color: white;
}

h5 {
  font-size: 14px;
  color: white;
}

h6 {
  color: white;
}









/* ******** Breakpoints för olika enheter *********/
@media (max-width: 600px)  {

 
  p {
    font-size: 12px;
    width: 400px;
  }
  h1 {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  h2 {
    font-size: 18px;
    text-align: center;
    width: 100%;
  }

  h4 {
    font-size: 12px;
    text-align: center;
    width: 100%;
  }

  h5 {
    font-size: 18px;
  }
 
  
  main {
    flex: 1;
    overflow: hidden;
  }

} 

